@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,900&family=Noto+Sans+Thai:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

html {
    height: 100%;
}

/* body {
    margin: 0;
    
}

.login-page, .signup-page {
    background: linear-gradient(180deg, rgba(1, 138, 190, 0.6) 0%, rgba(32, 91, 138, 0.4) 100%);
    background-repeat: no-repeat;
    background-size: cover;
} */

.nav {
    background-color: #02457A;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-bg, .signup-bg {
    width: 35%;
    background: rgba(217, 217, 217, 0.5);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.logo {
    width: 15%;
    height: auto;
}
.logoBrand {
    width: 15%;
}

.buttonLogin, .buttonSignup {
    background-color: #02457A;

}

/* For bg Main theme color */
.bg-blue {
    background-color: #02457A;
}

/* For BookingSearch */
.B-seachButton {
    border: none;
    background: #02457A;
    width: 80%;
    height: 55%;
}


.B-inputBox {
    background-color: #ECE8E8;
}

/* For Home */
.H-mainPic {
    width: 100%;
    height: 24rem;
    object-fit: cover;
}

.H-seachBox {
    z-index: 1;
    /* width: 100%; */
    top: 19rem
}

.H-seachBoxContainer {
    height: 32rem;
    width: 100%;
    max-width: 1440px;
}
.tab-signin, .tab-signup{
    background: none;
    border: none;
}
.tab-signin:hover, .tab-signup:hover {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

/* ChangeFlight */
.btnChange {
    background-color: #02457A;
    color: #ffffff;
    
}
.btnCabinClass, .btnFlight {
    border: none;
    color: black;
}
.btnCabinClass:hover, .btnFlight:hover, .btnChangeFlight{
    border: none;
    background: #02457A;
    color: #ffffff;
}

.btnCabinClass,
.btnFlight {
    border: none;
    color: black;
}

.btnCabinClass:hover,
.btnFlight:hover,
.btnChangeFlight, .btnSelectFlight {
    border: none;
    background: #02457A;
    color: #ffffff;
}


.picFlight {
    margin-left: 1.5rem;
    width: 15%;
}

/* MyFlightDetails */
.flightDeparture{
    width: 50%;
    height: 25rem;

}

/* PriceDetail */
.priceDetails {
    width: 25rem;
    height: 27rem;
}

/* MyBooking */
.img-fluid {
    padding: 20px;
    background-image: url("./bgAirplane.jpg");
    background-repeat: no-repeat;
    background-size: 100%;  
}

@media screen and (max-width: 865px) {
    .img-fluid {
      background-image: url("./bgResponsive.jpg");
    }
  }

