@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,900&family=Noto+Sans+Thai:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

html {
    height: 100%;
}

/* body {
    margin: 0;
    background: linear-gradient(180deg, rgba(1, 138, 190, 0.6) 0%, rgba(32, 91, 138, 0.4) 100%);
    background-repeat: no-repeat;
    background-size: cover;
} */

.nav {
    background-color: #02457A;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-bg {
    width: 40%;
    height: auto;
    background: rgba(217, 217, 217, 0.5);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.logo {
    width: 15%;
    height: auto;
}

.buttonLogin {
    background-color: #02457A;

}

/* For bg Main theme color */
.bg-blue {
    background-color: #02457A;
}

/* For BookingSearch */
.B-seachButton {
    background-color: #02457A;
    size: 5rem;
}

.B-inputBox {
    background-color: #ECE8E8;
}